In [32]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import random as rand

In [33]:
df = pd.DataFrame()
df['X'] = [i for i in range(100)]
df['Y'] = [i for i in range(100)]
df['Z'] = [i for i in range(100)]

In [34]:
f = lambda x,y,z: 2*x + 5*y + z - 30

In [35]:
df['result'] = [f(df['X'][i], df['Y'][i], df['Z'][i]) for i in range(len(X))]
df

     X   Y   Z  result
0    0   0   0     -30
1    1   1   1     -22
2    2   2   2     -14
3    3   3   3      -6
4    4   4   4       2
..  ..  ..  ..     ...
95  95  95  95     730
96  96  96  96     738
97  97  97  97     746
98  98  98  98     754
99  99  99  99     762

[100 rows x 4 columns]

In [36]:
X = df.drop("result", axis=1)
Y = df["result"]

In [37]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size=0.8)

In [38]:
lr = LinearRegression()

In [39]:
lr.fit(x_train, y_train)
lr.score(x_test, y_test)

1.0

In [66]:
df["result"] = [i+rand.randint(-100, 101) for i in range(100)]
df["result"] = [i+rand.randint(-50, 50) for i in range(100)]
df

     X   Y   Z  result
0    0   0   0      40
1    1   1   1      -3
2    2   2   2     -46
3    3   3   3      32
4    4   4   4      43
..  ..  ..  ..     ...
95  95  95  95     133
96  96  96  96     146
97  97  97  97      98
98  98  98  98     139
99  99  99  99     116

[100 rows x 4 columns]

In [67]:
X = df.drop("result", axis=1)
Y = df["result"]

In [68]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size=0.8)

In [69]:
lr = LinearRegression()
lr.fit(x_train, y_train)
lr.score(x_test, y_test)

0.5848701382483925