In [23]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [21]:
df = pd.read_csv('./dataset/titanic data.csv').drop(columns=['PassengerId'])

In [22]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [24]:
le = LabelEncoder()

In [25]:
for i in df.columns:
    df[i] = le.fit_transform(df[i])

In [26]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,2,108,1,28,1,0,523,18,147,2
1,1,0,190,0,51,1,0,596,207,81,0
2,1,2,353,0,34,0,0,669,41,147,2
3,1,0,272,0,47,1,0,49,189,55,2
4,0,2,15,1,47,0,0,472,43,147,2
...,...,...,...,...,...,...,...,...,...,...,...
886,0,1,548,1,35,0,0,101,85,147,2
887,1,0,303,0,24,0,0,14,153,30,2
888,0,2,413,0,88,1,2,675,131,147,2
889,1,0,81,1,34,0,0,8,153,60,0
890,0,2,220,1,42,0,0,466,30,147,1

In [60]:
from sklearn.decomposition import PCA

In [64]:
pca = PCA(n_components=2).fit(df)

In [67]:
pd.DataFrame(pca.fit_transform(df),columns='pca1,pca2'.split(','))

           pca1        pca2
0   -316.136983 -222.264342
1   -231.668912 -271.234197
2    -58.757748 -341.803583
3   -202.362631  279.370662
4   -413.715193 -178.952295
..          ...         ...
886   80.151011  243.489398
887 -174.837810  315.763920
888    0.664418 -335.759887
889 -395.782801  298.865739
890 -210.139476 -153.991158

[891 rows x 2 columns]

In [27]:
X = df[df.columns[1:]]

In [29]:
y = df.Survived

In [34]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [31]:
model = DecisionTreeClassifier()

In [46]:
X_train,X_test, y_train, y_test = train_test_split(X,y)

In [47]:
X_train.shape

(668, 10)

In [48]:
y_train.shape

(668,)

In [53]:
y_test.shape

(223,)

In [54]:
y_pred.shape

(891,)

In [49]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [55]:
y_pred = model.predict(X_test)

In [56]:
from sklearn.metrics import confusion_matrix, classification_report

In [58]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.84      0.82      0.83       145
           1       0.68      0.71      0.69        78

    accuracy                           0.78       223
   macro avg       0.76      0.76      0.76       223
weighted avg       0.78      0.78      0.78       223

In [59]:
confusion_matrix(y_pred,y_test)

array([[119,  26],
       [ 23,  55]], dtype=int64)